html,
body {
  height: 100%;
  margin: 0;
}

body {
  transition: opacity 0.7s, background-color 0.7s;
  transition-timing-function: ease;
  will-change: opacity, background-color;
}

body.loading-page {
  background-color: #000 !important;
  opacity: 0;
}

body:not(.web3-mode) .web3-item {
  display: none;
}

#snow-storm-container {
  overflow: hidden !important;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 19000000;
}

.container-sky {
  display: flex;
  height: 100%;
  margin: auto;
  padding: 1em 0;
  width: 100%;
  position: fixed;
}

[data-bs-theme="white"] .container-sky {
  background: #93d4f7;
}

#svg {
  /* border: 1px solid #fff; */
  display: block;
  margin: auto;
  /* max-width: 1000px; */
  width: 100%;
}

.btn-dark {
  --bs-btn-bg: #333;
}

.username-title,
.username-title > span {
  text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.tiny-info-content {
  overflow-y: auto;
  height: 500px;
  text-align: center;
}

.transition-animation,
.transition-animation .username-title,
.transition-animation h4.title,
.transition-animation h5.title {
  transition: scale 0.4s, font-size 0.4s;
  transition-timing-function: ease;
  will-change: transform, font-size;
}

img.transition-animation:hover {
  scale: 1.03;
  will-change: transform;
}

.transition-animation .username-title:hover {
  font-size: 1.8rem;
}

.transition-animation:hover h4.title {
  font-size: 1.6rem;
}

.transition-animation:hover h5.title {
  font-size: 1.35rem;
}

.title-banner {
  max-height: 190px;
  border-radius: 15px;
}

#browser-ponies img {
  transition: scale 0.2s;
  transition-timing-function: ease;
  cursor: pointer;
  image-rendering: pixelated;
  will-change: transform;
}

#browser-ponies img:hover {
  scale: 1.03;
}

[data-bs-theme="white"] .container-sky .night,
[data-bs-theme="white"] .container-sky .stars,
[data-bs-theme="white"] .container-sky .meteors,
[data-bs-theme="white"] .container-sky .moon {
  display: none !important;
}

.tiny-left-image {
  max-height: 300px;
  width: auto;
  float: left;
}

.tiny-right-image {
  max-height: 300px;
  width: auto;
  float: right;
}

@media (max-width: 767px) {
  .container-sky [id^="cloud-"] {
    display: none !important;
  }
}

.cloud {
  will-change: transform;
}
